.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 20px 130px;
}
.services-title h1{
    padding: 0px 20px;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top: 35px;
}
.service-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.service-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 80px;
}
.services-container h3{
    font-size: 28px;
    font-weight: 600;
}
.services-container h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-container p{
    color: #d4d4d4;
    font-size: 18px;
    line-height: 30px;
    max-width: 300px;
}
.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
@media(max-width: 768px){
    .services{
        align-items: center;
        gap: 60px;
        margin: 20px 80px; 
    }
    .services-title h1{
        font-size: 35px;
        padding: 0;
        margin-bottom: 30px;
    }
    .service-format{
        padding: 15px;    
    }
    .service-format h3{
        font-size: 20px;
    }
    .service-format h2{
        font-size: 25px;
    }
    .service-format p{
        font-size: 16px;
        line-height: 25px;
        max-width: 300px;
    }
    .services-readmore{
        width: 200px;
    }
    .services-container{
        grid-template-columns: auto;
    }
}