.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 35px;
    border-radius: 100%;
}
.hero h1 {
    text-align: center;
    width: 70%;
    font-weight: 700;
    font-size: 50px;
}
.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    margin-bottom: 30px;
}
.hero-connect{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C35 0.36%, #B923E1 102.06%);
    font-size: 17px;
    cursor: pointer;
}
.hero-connect:hover{
    border: 1.5px solid white;
}
.hero-resume{
    padding: 15px 40px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-resume:hover{
    border: 2px solid #B415FF;
}
@media(max-width: 768px){
    .hero img{
        width: 170px;
    }
    .hero h1{
        width: 90%;
        font-size: 30px;
    }
    .hero p{
        width: 60%;
        font-size: 15px;
        line-height: 25px;
    }
    .hero-action{
        gap:14px;
        font-size: 14px;
        font-weight: 300;

    }
    .hero-connect{
        padding: 15px 20px; 
        border-radius: 30px;
    }
    .hero-resume{
        padding: 15px 20px;
        border-radius: 30px;
    }
}