.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 40px 130px;
}
.mywork-item{
    
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 20px;
    font-size: 50px;
    font-weight: 500;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.mywork-container img{
   box-sizing: border-box;
   width: 400px;
   height: 200px;
   transition: 0.3s;
   cursor: pointer; 
    border: 1px solid #000;

}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 3px solid #ff00ff;
    border-radius: 10px;
}
.mywork-showmore{
    display: flex;
    gap: 8px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 15px 40px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 20px;
}
@media(max-width: 786px){
    .mywork{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .mywork-title h1{
        font-size: 30px;
        padding: 0;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        font-size: 15px;
        padding: 15px 20px;
        margin: auto;
    }
}