.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 20px 130px;
}
.about-title h1{
    padding: 0px 20px;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top: 30px;
}
.about-sections{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    font-weight: 400;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-skill{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.3s;
}
.about-skill:hover{
    transform: scale(1.05);

}
.about-skill p{
    min-width: 180px;
    font-size: 17px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 18%;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement:hover{
    transform: scale(1.12);
}
.about-achievement h1{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 18px;
    font-weight: 400;
}
@media(max-width: 768px){
    .about{
        gap: 60px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 35px;
        padding: 0;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 14px;
        line-height: 25px;
    }
    .about-skill p{
        font-size: 16px;
    }
    .about-skill hr{
        height: 5px;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 30px;
        font-weight: 400;
    }
    .about-achievement p{
        text-align: center;
        font-size: 12px;
    }
}