.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 130px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 16px;
    max-width: 300px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer-email-input{
    display: flex;
    gap: 20px;
    padding: 12px 20px;
    border-radius: 40px;
    background: #32323B;
    padding-right: 60px;
}
.footer-email-input:hover{
    border: 1px solid white;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: 'outfit';
    font-size: 15px;
}
.footer-subscribe{
    font-size: 15px;
    padding: 12px 28px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);;
    cursor: pointer;
    transition: 0.3s;
}
.footer-subscribe:hover{
    transform: scale(1.05);
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.footer-bottom-right{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
@media(max-width: 768px){
    .footer{
        margin: 20px 50px;
    }
    .footer-top{
        flex-direction: column;
        gap: 40px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }
    .footer-top-right{
        flex-direction: column;
    }
    .footer-bottom-left{
        font-size: 14px;
    }
}